{% extends "_layout/layout.njk" %}

{% block body %}
  <div class="wrapper">
    <div>
      <p>You're an underage and have a {{ age }} years old.</p>
      <a href="/">Back to Home Page</a>
    </div>
  </div>
{% endblock %}
